body {
  background: white;
  color: black;
  font-family: system-ui, sans-serif;
  text-align: center;
  margin: 40px auto;
  max-width: 720px;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.5em;
  font-weight: 300;
  margin-bottom: 0;
}

#target {
  border: 2px dashed #ddd;
  border-radius: 5px;
  color: #ccc;
  cursor: pointer;
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 1.5em;
  user-select: none;
}

.row {
  margin: 20px 0;
  display: flex;
}

.cell {
  box-sizing: border-box;
  width: 50%;
}

.image img {
  display: block;
  max-width: 100%;
}

.color {
  padding: 0 0 0 20px;
}

.color ul {
  margin: 0;
  padding: 10px;
  list-style-type: none;
}

.box {
  height: 80px;
}

#footer {
  margin: 40px 0;
}

#upload {
  display: none;
}
